#section10{
    /* border: 2px solid; */
    margin: 15px 150px 15px 150px;
    height: 400px;
}
#section10 div{
    /* border: 2px solid; */
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}
#section10 div > div{
    /* border: 2px solid; */
    border-radius: 15px;
    height: 350px;
    width: 300px;
    margin-top:-30px;
}
#sec10-pic div span{
    color: #f7f7f7;
    font-weight: 800;
    font-size: 20px;
    font-style: normal;
    padding-top: 105%;
}
#sec10-pic div:nth-child(1){
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url('../images/sec10-pic1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
#sec10-pic div:nth-child(1):hover{
    cursor: pointer;
    opacity: 0.9;
}
#sec10-pic div:nth-child(2){
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url('../images/sec10-pic2.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
#sec10-pic div:nth-child(2):hover{
    cursor: pointer;
    opacity: 0.9;
}
#sec10-pic div:nth-child(3){
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url('../images/sec10-pic3.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
#sec10-pic div:nth-child(3):hover{
    cursor: pointer;
    opacity: 0.9;
}
#sec10-pic div:nth-child(4){
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url('../images/sec10-pic4.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
#sec10-pic div:nth-child(4):hover{
    cursor: pointer;
    opacity: 0.9;
}
#sec10-items span{
    /* border: 2px solid; */
    padding-left: 15px;
    color: #002b11;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
}
#sec10-items span:nth-child(4){
    margin-left: 30px;
}
#sec10-items span:nth-child(3){
    margin-left: 30px;
}
#sec10-items span:nth-child(2){
    margin-left: 30px;
}
footer{
    /* border: 2px solid; */
    height: 430px;
    background-color: #f7f7f7;
    margin-top: 150px;
}
#sub-foot{
    /* border: 2px solid; */
    height: 280px;
    margin: 15px 150px 15px 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 5px;
    color: #38443a;
    /* flex-wrap: wrap; */
}
#sub-foot div ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
#foot-div1{
    /* background-color: green; */
    grid-row: 1/4;
}
#sub-foot ul li h4{
    color: #38443a;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
}
#sub-foot ul li{
    color: #002b11;
    line-height: 24px;
    font-size: 15px;
    font-weight: 400;
}
#foot-div2{
    /* background-color: papayawhip; */
    grid-row: 1/4;
}
#list1{
    /* background-color: blueviolet; */
    grid-row: 1/3;
}
#list2{
    /* background-color: blue; */
    grid-row: 3/4;
}
#foot-div4{
    text-align: start;
    /* background-color: red; */
    grid-column: 4/7;
    grid-row: 1/4;
    margin-left: 200px;
}
#foot-div4 h4{
    color: #002b11;
    font-size: 15px;
    font-weight: 400;
    margin-top: -10px;
}
#foot-div4 h2{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #38443a;
}
#foot-div4 h4 a{
    color: #002b11;
}
#sub-foot ul li:hover{
    cursor: pointer;
    text-decoration: underline;
}
#sub-foot div ul li h4:hover{
    cursor: default;
    text-decoration: none;
}
#sub-foot2{
    /* border: 2px solid; */
    height: 120px;
    margin: -15px 150px 15px 150px;
    display: flex;
    flex-direction: column;
}
#sub-foot2 div:nth-child(1) span{
    position: absolute;
    left: 165px;
    
}
#sub-foot2 div:nth-child(1){
    /* border: 2px solid; */
    /* height: 50px; */
    padding-left: 50px;
}
#foot-items{
    /* border: 2px solid; */
    margin-left: 55px;
}
#select{
    border: 2px solid #38443a;
    border-radius: 10px;
    /* padding: 10px 10px; */
    height: 35px;
    width: 150px;
    position: absolute;
    right: 350px;
    margin-top: -20px;
}
#select1{
    border: 2px solid #38443a;
    border-radius: 10px;
    /* padding: 10px 10px; */
    height: 35px;
    width: 150px;
    position: absolute;
    right: 190px;
    margin-top: -20px;
}
#flist1{
    /* border: 2px solid; */
    list-style: none;
    margin: 0;
    padding: 0;
    color: #002b11;
    text-decoration: underline;
    font-size: medium;
    font-weight: 600;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    justify-content: space-between;
    width: 720px;
}
#flist2{
    /* border: 2px solid; */
    list-style: none;
    margin: 0;
    padding: 0;
    color: #002b11;
    text-decoration: underline;
    font-size: medium;
    font-weight: 600;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    justify-content: space-between;
    width: 280px;
}
#sub-foot2 p{
    /* border: 2px solid; */
    width: 850px;
    margin: 0;
    color: #38443a;
}
#sub-foot2 a{
    color: #002b11;
}
#sub-foot2 a svg{
    /* border: 2px solid; */
    position: absolute;
}